




@media only screen and (max-width: 767px){
    body{
        font-size: 16px;
    }
    
    section{
        padding: 30px 0; 
    }
    
    .row, first-text-box{
        padding: 0 4%
    }
    
    h1{
        font-size: 280%;
    }
    
    h2,h4{
        font-size: 140%;
    }
    
     h5{
        margin-left: 50px;
    }
    
    .box img{
       margin-top: 0; 
    }
    
    .col{
        width: 100%;
    }
    
    .box img {
        width: 90%;
        padding-left: 40px;
        margin-top: 40px;
    }
    
 
    .groupA-project {
        margin-left: 50px;
    } 
    
    .main-nav{
        display: none;
    }
    
    .main-nav{
        float: left;
        margin-top: 25px;
    }
    
    .main-nav li{
        display: block;
        padding: 20px 0 0;
    }
    
    .main-nav li a: link,
    .mian-nav li a: visited{
        display: block;
        border:0;
    }
    
    .nav-icon{
        display: inline-block;
        float: right;
    }
    
    .designer-profile {
        line-height: 20px;
        font-size: 60%;
    }

    .little-header{
        margin-top: 0;
        margin-bottom: -30px;
        font-size: 80%;
    }
    
}

@media only screen and (max-width: 1023px){
    body{
        font-size: 18px;
    }
    
    section{
        padding: 60px 0; 
    }
    
    /*
    .temp{
        width: 90%;
    }
    */
    
    .designer-profile {
        line-height: 33px;
        font-size: 100%;
    }

    .little-header{
        font-size: 120%;
    }
    
}


@media only screen and (max-width: 1200px){
    
    .first-text-box{
        width: 100%;
        padding: 0 2%;
    }
    
    .row{
        padding: 0 2%;
    }
    
}

@media only screen and (max-width: 480px){
    
    header{
        width: 100%;
    }
    
    h1{
        font-size: 240%;
        margin-left: 0;
    }
    
    h3{
        font-size: 100%; 
        margin-left: 0;
    }
    
    h5{
        margin-left: 50px;
    }
    
    .box img{
       margin-top: 0; 
    }
    
    .btn-app img {
        margin-top: 45px;
        margin-left: 45px;
        height: 70px;
        width: auto;
    }
    
     .nav-icon{
        margin-top: 55px;
    }
    
    .main-nav{
        float: left;
        margin-left: 65px;
        margin-top: -65px;
    }
    
    .main-nav li{
        font-size: 12px;
        display: block;
        padding: 3px 0 0;
    }
    
    body{
        font-size: 16px;
    }
    
    .para{
        margin-left: 30px;
        font-size: 14px;
        margin-bottom: 15px;
    }
    
    .designer-profile {
        line-height: 23px;
        font-size: 100%;
        margin-left: 20px;
    }

    .little-header{
        margin-top: 20px;
        margin-bottom: -10px;
        font-size: 120%;
         margin-left: 20px;
    }
    
    section{
        padding: 25px 0; 
    }

    .col{
        width: 100%;
        padding: 25px 0;
    }
    
    .footer-nav,
    .social-links {
        float: left;
    }
    
    .contract{
        text-align: center;
        line-height: 1.5em; 
    } 
    
    /*
     section { padding: 25px 0; }
    .contact-form {width: 100%; }
    
    */
}